// Place all the styles related to the Sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 1200px) {
	h3 {
		font-size: 20px;
	}
}

.sound-card-container {
	margin-bottom: 30px;

	.sound-card {
		background-color: white;
		padding: 0;
		transition: box-shadow .25s;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		border-radius: 2px;
	  
		&:hover {
			box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		}

		.sound-picture {
			width: 100%;
			height: auto;
			border-radius: 2px 2px 0 0;
			background-size: cover;
			background-position: 50% 50%;
		}
	  
		.sound-info {
			padding: 0 10px 10px 10px;

			audio {
				width: 100%;
				background-color: white;
			}

			i {
				font-size: 20px;
			}

			.sound-volume-controls {
				display: inline-block;
				float: right;
			}

			.sound-volume {
				display: inline-block;
				width: auto;
			}
		}
	}
}

.new-sound a {
	color: white;
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #ccc;
		background-color: transparent;
	}
}

.sound-show-picture {
	max-width: 200px;
}

#notice {
	margin: 0;
}